Source: dn-need-album-art
Maintainer: David Nebauer <david@nebauer.org>
Section: utils
Priority: optional
Build-Depends: debhelper-compat (= 13),
               libmodule-build-tiny-perl,
               perl (>= 5.38.0)
Build-Depends-Indep: libconst-fast-perl <!nocheck>,
                     libfile-chdir-perl <!nocheck>,
                     libfile-find-rule-perl <!nocheck>,
                     liblist-someutils-perl (>= 0.59) <!nocheck>,
                     libmoo-perl (>= 2.005005) <!nocheck>,
                     libmoox-options-perl <!nocheck>,
                     libnamespace-clean-perl <!nocheck>,
                     libpath-tiny-perl (>= 0.144) <!nocheck>,
                     libstrictures-perl <!nocheck>,
                     libtest-simple-perl <!nocheck>,
                     libtypes-path-tiny-perl <!nocheck>,
                     libversion-perl <!nocheck>
Standards-Version: 4.6.2
Homepage: https://metacpan.org/release/App-Dn-NeedAlbumArt
Rules-Requires-Root: no

Package: dn-need-album-art
Architecture: all
Depends: ${misc:Depends},
         ${perl:Depends},
         libconst-fast-perl,
         libfile-chdir-perl,
         libfile-find-rule-perl,
         liblist-someutils-perl (>= 0.59),
         libmoo-perl (>= 2.005005),
         libmoox-options-perl,
         libnamespace-clean-perl,
         libpath-tiny-perl (>= 0.144),
         libstrictures-perl,
         libtypes-path-tiny-perl,
         libversion-perl,
         perl (>= 5.38.0)
Description: find directories needing album cover art
 Search a directory recursively for subdirectories that need album cover art.
 More specifically, it searches for subdirectories containing mp3 files but no
 album cover art file. An album cover art file is one named album.png,
 album.jpg, cover.png, or cover.png.
 .
 If a directory is not specified, the current directory is searched.
 .
 The subdirectories matching these conditions are printed to stdout, one per
 line.
