Source: dn-numeric-prefix
Maintainer: David Nebauer <david@nebauer.org>
Section: perl
Priority: optional
Build-Depends: debhelper-compat (= 13),
               libmodule-build-tiny-perl,
               perl (>= 5.38.0)
Build-Depends-Indep: libconst-fast-perl <!nocheck>,
                     liblist-someutils-perl (>= 0.59) <!nocheck>,
                     libmoo-perl (>= 2.005005) <!nocheck>,
                     libmoox-handlesvia-perl <!nocheck>,
                     libmoox-options-perl <!nocheck>,
                     libnamespace-clean-perl <!nocheck>,
                     librole-utils-dn-perl (>= 0.4) <!nocheck>,
                     libstrictures-perl <!nocheck>,
                     libtest-simple-perl <!nocheck>,
                     libtype-tiny-perl (>= 2.004000) <!nocheck>,
                     libversion-perl <!nocheck>
Standards-Version: 4.6.2
Homepage: https://metacpan.org/release/App-Dn-NumerixPrefix
Rules-Requires-Root: no

Package: dn-numeric-prefix
Architecture: all
Depends: ${misc:Depends},
         ${perl:Depends},
         libconst-fast-perl,
         liblist-someutils-perl (>= 0.59),
         libmoo-perl (>= 2.005005),
         libmoox-handlesvia-perl,
         libmoox-options-perl,
         libnamespace-clean-perl,
         librole-utils-dn-perl (>= 0.4),
         libstrictures-perl,
         libtype-tiny-perl (>= 2.004000),
         libversion-perl,
         perl (>= 5.38.0)
Description: add numeric prefix to file names
 Add an incrementing numeric prefix to the file names of a group of files. For
 example, files 'a' and 'b' are renamed to '1_a' and '2_b'. File order is
 standard shell ascii order.
 .
 If there are more than nine files to be processed, the numeric prefixes are
 left zero-padded. For example, if there were over a hundred files, files 'a'
 and 'b' may be renamed '001_a' and '002_b'.
