Source: dn-html2ebooks
Maintainer: David Nebauer <david@nebauer.org>
Section: utils
Priority: optional
Build-Depends: debhelper-compat (= 13),
               libmodule-build-tiny-perl,
               perl (>= 5.38.0)
Build-Depends-Indep: libconst-fast-perl <!nocheck>,
                     libmoo-perl (>= 2.005005) <!nocheck>,
                     libmoox-handlesvia-perl <!nocheck>,
                     libmoox-options-perl <!nocheck>,
                     libnamespace-clean-perl <!nocheck>,
                     libstrictures-perl <!nocheck>,
                     libtest-simple-perl <!nocheck>,
                     libtype-tiny-perl (>= 2.004000) <!nocheck>,
                     libversion-perl <!nocheck>
Standards-Version: 4.6.2
Homepage: https://metacpan.org/release/App-Dn-Html2Ebooks
Rules-Requires-Root: no

Package: dn-html2ebooks
Architecture: all
Depends: ${misc:Depends},
         ${perl:Depends},
         libconst-fast-perl,
         libmoo-perl (>= 2.005005),
         libmoox-handlesvia-perl,
         libmoox-options-perl,
         libnamespace-clean-perl,
         libpath-tiny-perl,
         libstrictures-perl,
         libtype-tiny-perl (>= 2.004000),
         libversion-perl,
         perl (>= 5.38.0)
Description: convert html file to ebook formats
 Converts an html file in the current directory named basename.html or
 basename.htm where "basename" is the option provided to the -b option. This
 source file is converted to the following format and output file:
