Source: dn-alsa-device
Section: admin
Priority: extra
Maintainer: David Nebauer <david@nebauer.org>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev
Standards-Version: 3.8.4

Package: dn-alsa-device
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, udev (>= 164-3), alsa-utils (>= 1.0.23-3), libnotify-bin (>= 0.5.0-2), bsdutils (>= 1:2.17.2-5), sed (>= 4.2.1-7), grep (>= 2.6.3-3), login (>= 1:4.1.4.2+svn3283-2)
Description: handle pluggable usb alsa sound devices
 This package handles the problem of setting
 usb sound devices (microphones, speakers and
 headsets) as default alsa devices when
 plugged in.
 .
 It uses udev to trigger actions
 when the usb devices are plugged in and
 unplugged.  Alsa configuration files are
 manipulated to change default alsa sound
 devices.
