Source: dn-mc-conf
Section: utils
Priority: extra
Maintainer: David Nebauer <david@nebauer.org>
Build-Depends: debhelper-compat (= 13), autotools-dev
Standards-Version: 4.6.0

Package: dn-mc-conf
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
 calibre (>= 6.10.0+dfsg-5),
 firefox-esr (>= 102.6.0esr-1),
 gimp (>= 2.10.32-1+b2),
 gramps (>= 3.4.0-1),
 imv (>= 4.3.0-1.1+b1),
 libmp3-tag-perl (>= 1.16-1),
 libreoffice (>= 1:7.4.4~rc2-2),
 mc (>= 3:4.8.3-2),
 mpg123 (>= 1.31.1-1),
 mplayer (>= 2:1.4+ds1-3+b2),
 neovim-qt (>= 0.2.16-1),
 nsis (>= 2.46-7),
 okular (>= 4:22.12.0-2),
 p7zip-full (>= 9.20.1~dfsg.1-4),
 p7zip-rar (>= 9.20.1~ds.1-3),
 planner (>= 0.14.6-1),
 qutebrowser (>= 2.5.2-2),
 scribus (>= 1.5.8+dfsg-4+b1),
 sensible-utils (>= 0.0.17),
 smplayer (>= 0.8.0-1),
 tellico (>= 2.3.5+dfsg.1-4),
 w3m (>= 0.5.3+git20220429-1+b1)
Description: regenerate local mc configuration files
 Midnight Commander (mc) is a file browser.  Much of its
 power comes from its ability to configure how to open and
 view different file types.  This configuration is done via
 'extension files'.  These files contain entries based on
 file extensions, file types and mime types.  When a file is
 opened or viewed the extension file is searched for a
 matching entry and the first match is used.
 .
 Determining which extension file to use is a little
 unwieldy.  There is a global extension file
 ('/ext/mc/mc.ext') which is used by default.  If a local
 extension file ('~/.config/mc/mc.ext') is present then it
 is used instead of the global file, and the global
 extension file is *not* used.  There is no way to call the
 global extension file from the local one.  In fact, there
 is *no* way to call both local and global extension files.
 .
 The only way to maintain a local extension file without the
 overhead of tracking changes in the package's global
 extension file is to keep local changes in a 'changes' file
 and periodically regenerate the local extension file by
 concatenating the 'changes' file and the global extension
 file and saving the result as the local extension file.
 .
 Midnight Commander also has a user-configurable menu system
 controlled by 'menu files'. These configuration files
 determine the options in the user menu (F2). As with
 extension files, there is a global menu file
 ('/etc/mc/mc.menu') which is used by default.  A local menu
 file ('~/.config/mc/menu') will be used if present and
 there is no way for it to call the global menu file. As
 with extension files, local menu items are kept in a local
 'changes' and the local menu file is periodically
 regenerated by concatenating the 'changes' file and global
 menu file.
 .
 This package provides local 'changes' files for extensions
 ('/usr/share/dn-mc-conf/mc.ext') and menu items
 ('/usr/share/dn-mc-conf/menu'), and a daily cron script
 ('/etc/cron-daily/dn-mc-conf') that regenerates local mc
 extension and menu files. The cron script writes feedback
 to the system log.
 .
 A script, dn-mc-conf, is supplied. It is a wrapper for the
 daily cron script enabling it to be called directly.
 .
 Midnight Commander has a number of virtual file systems
 (vfs), including an ftp file system (ftpfs) and its own
 network-based file system (mcfs). Another vfs is the
 EXTernal virtual FileSystem (extfs) designed to handle
 numerous file and file system types in Midnight Commander
 by including scripts. The extfs is particularly useful for
 handling archive filesystems like deb and zip.
 .
 The extfs script for rar archives included with Midnight
 Commander ('/usr/lib/mc/extfs.d/urar') is broken. It uses
 syntax incompatible with the free version of rar. Also, the
 free version of rar cannot handle some rar archives.
 .
 This package provides a custom rar script,
 ('/usr/lib/mc/extfs.d/dn-urar') which utilises p7zip's rar
 module for extracting files from rar archives. In all other
 respects the script is identical to 'urar'.
