Source: dn-7kaa
Section: games
Priority: extra
Maintainer: David Nebauer <david@nebauer.org>
Build-Depends: debhelper-compat (= 13), autotools-dev
Standards-Version: 3.9.1
Homepage: http://7kfans.com/

Package: dn-7kaa
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Seven Kingdom: Ancient Adversaries game
 A real-time strategy game developed by Trevor Chan of
 Enlight Software. It was open-sourced in 2009 and
 subsequently ported to the Simple DirectMedia Layer.
 This enabled 7kaa to run on Linux.
