Source: dn-ctags-conf
Section: editors
Priority: extra
Maintainer: David Nebauer <david@nebauer.org>
Build-Depends: debhelper-compat (= 13), autotools-dev
Standards-Version: 4.6.0

Package: dn-ctags-conf
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
 exuberant-ctags (>= 1:5.9~svn20110310-6)
Description: provides a system-wide ctags configuration file
 Installs the system-wide ctags configuration file
 /etc/ctags.conf
 .
 This configuration file contains langdef, langmap and
 regex statements for generating latex tags.
