Source: mail-dir-monitor
Section: mail
Priority: optional
Maintainer: David Nebauer <david@nebauer.org>
Build-Depends: debhelper-compat (= 12), autotools-dev
Standards-Version: 4.1.3

Package: mail-dir-monitor
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, perl (>= 5.26.2-7),
 libconfig-any-perl (>= 0.32-1),
 libconst-fast-perl (>= 0.014-1),
 libemail-sender-perl (>= 1.300031-2),
 libemail-simple-perl (>= 2.216-1),
 libfile-configdir-perl (>= 0.017-1),
 libfile-util-perl (>= 4.161950-1),
 libfile-which-perl (>= 1.22-1),
 libfunction-parameters-perl (>= 2.001003-2),
 liblogger-syslog-perl (>= 1.1-3),
 libmoo-perl (>= 2.003004-1),
 libmoox-handlesvia-perl (>= 0.001008-3),
 libmoox-options-perl (>= 4.023-1),
 libnamespace-clean-perl (>= 0.27-1),
 libpath-tiny-perl (>= 0.104-2),
 libperl6-slurp-perl (>= 0.051005-1),
 libstrictures-perl (>= 2.000005-1),
 libsys-hostname-long-perl (>= 1.5-1),
 libtype-tiny-perl (>= 1.004002-1),
 libtypes-path-tiny-perl (>= 0.006-1),
 libversion-perl (>= 1:0.9924-1)
Description: monitor mail queue directories
 A daemon which monitors mail queue directories (defined in
 configuration files) for "stuck" mail which remains unsent.
 More precisely, it scans each mail directory periodically
 for files, by default for all files every five minutes,
 although the scan delay and file mask are configurable. If
 any files are found on consecutive scans a log message is
 written to the system log, and the user can be optionally
 notified by local user email and a terminal message. The
 daemon is configured to run as a systemd service and starts
 automatically at installation and system startup.
